[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "statsearchanalyticsr"]
	path = statsearchanalyticsr
	url = https://github.com/searchdiscovery/statsearchanalyticsr
